<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        {% load static %}
        <link rel="SHORTCUT ICON" href="{% static 'favicon.ico' %}">
        {% block css %}

        <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

        {% endblock %}

        {% block scripts %}
        
        {% endblock %}

        {% block title %}
        <title>Robot control</title>
        {% endblock %}
    </head>
    <body>

        {% block body %}
        <h1>Robot control</h1>
        {% endblock %}

        <script>
            // needed for POST requests
            var csrftoken = '{{ csrf_token }}';
        </script>

    </body>
</html>
