{% extends "base.html" %}
{% load static %}

{% block scripts %}

<script src="{% static 'js/easeljs.js' %}"></script>
<script src="{% static 'js/eventemitter2.js' %}"></script>
<script src="{% static 'js/roslib.js' %}"></script>
<script src="{% static 'js/ros2d.js' %}"></script>
<script src="{% static 'js/nav2d.js' %}"></script>

{% endblock %}

{% block body %}
    <script src="{% static 'js/control.js' %}"></script>

    <div class="header-bar">
        <h1>Robot Navigation</h1>
    </div>
    <div class="row" id='main-body'>
        <div class="leftcolumn button-col" id="l-controls">
            <button id='btn_cancel_goal'>Cancel Goal</button>
            <button id='btn_localize'>Reset pose</button>
            <button id='btn_lidar'>Lidar On/Off</button>
            <button id='btn_shutdown'>Shut down</button>
        </div>
        <div class="middlecolumn" id="nav-view">
            <div id='nav'></div>
        </div>
        <div class="rightcolumn button-col" id="r-controls">
            <button id='btn_pan'>Pan</button>
            <button id='btn_zoom'>Zoom</button>
            <button id='btn_estimate'>Set Pose</button>
            <button id='btn_goal'>2D Goal</button>
        </div>
    </div>
{% endblock %}
