{% extends "base.html" %}
{% load static %}

{% block scripts %}

<script src="{% static 'js/easeljs.js' %}"></script>
<script src="{% static 'js/eventemitter2.js' %}"></script>
<script src="{% static 'js/roslib.js' %}"></script>
<script src="{% static 'js/ros2d.js' %}"></script>
<script src="{% static 'js/nav2d.js' %}"></script>

{% endblock %}

{% block body %}
    <script src="{% static 'js/control.js' %}"></script>

    <div class="header">
        <h1>Breach Navigation &ndash; Touch, drag &amp; release to issue a goal</h1>
    </div>

    <div class="row">
        <div class="leftcolumn" id="videofeed"></div>
        <div class="rightcolumn" id="nav"></div>
    </div>
    <div class="options"></div>
{% endblock %}
